//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 29 12:21:49 2017
//! **************************************************************************

SCHEMATIC START;
COMP "switches<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "leds<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "leds<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "leds<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "leds<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "buttons<1>" LOCATE = SITE "A8" LEVEL 1;
COMP "buttons<3>" LOCATE = SITE "C9" LEVEL 1;
SCHEMATIC END;

